<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="FileNameLayout" value="${basedir}/Logs/${level:uppercase=true}.log" />
  <variable name="ArchiveFileNameLayout" value="${basedir}/Archives/${level:uppercase=true}/${level:uppercase=true}.{#}.log" />
  <variable name="HeaderLayout" value="============================================ ${newline}" />
  <variable name="ContentLayout" value="Date: ${longdate} ${newline}
                                        Level: ${level:uppercase=true} ${newline}
                                        Message: ${message} ${newline}
                                        Exception: ${exception:format=tostring} ${newline}
                                        ExceptionMessage: ${exception:format=Message} ${newline}
                                        Method: ${exception:format=Method} ${newline}
                                        StackTrace: ${exception:format=StackTrace} ${newline}
                                        Data: ${exception:format=Data} ${newline}
                                        " />
  <variable name="FooterLayout" value="============================================" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="File" name="File"
            fileName="${FileNameLayout}"
            encoding="UTF-8"
            maxArchiveFiles="7"
            archiveFileName="${ArchiveFileNameLayout}"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            ConcurrentWrites="true"
            keepFileOpen="false"
            layout="${HeaderLayout} ${ContentLayout} ${FooterLayout}" />
  </targets>

  <rules>

    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Debug" writeTo="File" />
  </rules>
</nlog>